@font-face {
    font-family: "linden-hill";
    src: url(linden-hill-master/webfonts/LindenHill-webfont.woff);
} 

@font-face {
    font-family: "archivo";
    src: url(webfonts/archivo-black-latin-400-normal.woff2) format("woff2"),
        url(webfonts/archivo-black-latin-400-normal.woff) format("wof");
}
    
body  {
    display: flex;
    margin: 0;
    font-size: calc(1rem + 0.1vw);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}

.side {
    background-image: url("background.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 33%;
}

.transparent-container {
    height: 6ch;
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 16.6vh;
    width: 100%;
}

.logo-container {
    margin: 0 3ch 0;
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "linden-hill";
}

.logo-text {
    font-size: calc(6rem + 0.1vw);
    margin-top: 3%;
}

.logo {
    height: 4ch;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 66.6%;
    height: 100vh;
    background-color: rgb(245, 245, 245)
}

.top-section {
    padding: 12% 4% 8%;
    font-weight: 700;
    font-size: calc(1.2rem + 0.1vw);
}

.mid-section {
    background-color: white;
    padding: 2% 4%;
    box-shadow: 0.1rem 0.1rem 0.4rem lightgray;
}

h1 {
    margin: 0;
    font-size: 1.2rem;
}

form {
    color:gray;
    font-family: "archivo";
    font-size: calc(0.66rem + 0.1vw);
    margin-top: 2%;
    margin-bottom: 4%;
}

.form-row {
    display:flex;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 4%;
}

input {
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(233, 233, 233);
    border-style: solid;
    font-size: calc(1rem + 0.1vw);
    height: 2.5ch;
}

input:focus {
    outline: none;
    border-color: rgb(0, 162, 255);
    box-shadow: 0.1rem 0.1rem 0.4rem lightgray;
    outline: none;
}

input:invalid {
    border-color: red;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    font-weight: 700;
}

button {
    background-color: rgb(126, 148, 31);
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    padding: 1vh 1vw;
    max-width: 16vw;
}

a {
    color: rgb(126, 148, 31);
    text-decoration: none;
}