body  {
    display: flex;
    margin: 0;
}

.side {
    background-image: url("background.jpg");
    background-size: cover;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66.6vw;
    height: 100vh;
}